@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "FiraGOMedium";
  src: url("./assets/fonts/FiraGO-Medium.otf");
}
@font-face {
  font-family: "FiraGOLight";
  src: url("./assets/fonts/FiraGO-Light.otf");
}

body {
  font-family: "FiraGOMedium";
  color: #021526;
}

.modal-overlay {
  background-color: rgba(0, 0, 0, 0.4);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 2;
}

.modal-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  z-index: 20;
}

.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.radio-label,
input,
.rule,
.dropdown-item,
.fira-go-light {
  font-family: "FiraGOLight";
}

@layer utilities {
  .form-row {
    @apply flex gap-4;
  }

  .form-block {
    @apply flex flex-col gap-4;
  }

  .dropdown-data {
    @apply absolute bg-white top-20 w-full border border-gray-2 max-h-52 overflow-auto -mt-3 border-t-0 rounded-b-md no-scrollbar z-10;
  }
}
