@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "FiraGO";
  src: url("./assets/fonts/FiraGO-Light.otf");
}

body {
  font-family: "FiraGO";
  font-weight: 600;
  color: #021526;
}
